/* Import Google fonts - Josefin+Sans, Outfit, Source Code Pro, Rubik, Poppins, Vazmatin, Jersey 10, Space Grotesk */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vazmatin&display-swap");
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&family=Rowdies:wght@300;400;700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Poppins:900&display=swap');

:root {
  --blue: #2684ff;
  --lblue: #4f9bff;
  --light-blue: #63f8f1;
  --volt: #c8ff00;
  --dark-blue: #072752;
  --yellow: #e5dc15;
  --dark-yellow: #c2bb11;
  --bootstrap-dark: #212529;
  --bootstrap-lighter: #364459;
  --bootstrap-lightest: #96a4b3;
  --cyan: #01fff7;
  --light-red: #f02652;
  --gold: #ffc107;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', 'Montserrat', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* fiction-writer css selectors*/

.display-4 {
  font-size: 6rem;
  margin: 27px 0;
  justify-content: center;
  display: grid;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.top-bar {
  padding: 6px;
  background-color: var(--bs-warning-rgb);
}

.description {
  white-space: pre-wrap;
}

.px-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
  padding-bottom: 3rem !important;
}

.justify-content-center {
  justify-content: center !important;
  padding-top: 0px;
}

p.lead.my-3 {
  color: white;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

#wrapper i {
  font-size: 1rem;
}

/* -----------------------*/

html,
body,
#root {
  height: 100%;
  width: 100%;
  padding: 0;
  display: grid;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background: var(--bootstrap-dark);

}

#root {
  border-left: var(--yellow) ridge 8px;
  border-bottom: var(--yellow) ridge 8px;
  border-top: var(--yellow) ridge 8px;
  margin: 0 auto;
  text-align: center;
}

/* signup ---------------------------------------------------------*/

.signup-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--bootstrap-dark);
  border: 3px solid var(--yellow);
}

.signup-title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  color: var(--yellow);
}

.signup-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.submit-button-z:hover {
  background-color: #ffffff;
  border: 1px solid #0056b3;
  color: #0056b3;
}

.submit-button-z {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-container-z {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.email-label {
  color: #f0e10c;
  font-size: 16px;
}

.back-link {
  text-decoration: none;
  color: #007bff;
  margin-bottom: 10px;
  display: inline-block;
}

.form-group-z {
  margin-bottom: 20px;
}

.label-z {
  display: block;
  margin-bottom: 5px;
}

.input-z,
.input-t {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.input-z:focus,
.input-t:focus {
  border: 2px var(--blue) solid;
}

.error-text {
  color: #dc3545;
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  color: var(--yellow);
}

.container.my-1-9 {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--bootstrap-dark);
  border: 3px solid var(--yellow);
}

/* ---------------- profile -----------------*/

.jumbo-bg-dark {
  background-color: var(--bootstrap-dark) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.jumbo-bg-dark-text {
  margin: 32px 0;
  color: var(--blue);
  font-size: 35px;
  font-family: 'Josefin Sans', 'Rubik', 'Arial Narrow Bold', sans-serif
}

.thought-cards-p {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}

/* ------------------------ sidebar (dropdown)  ----------------------*/

.sidebar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* ------------------------ sidebar (href list)  ----------------------*/

/* dropdown container  */
.sidebar-container {
  position: relative;
  display: inline-block;
  color: rgb(0, 0, 0);
}

/* Dropdown Content  */
.list-content {
  position: absolute;
  background-color: var(--bootstrap-dark);
  min-width: 242px;
  border-top: var(--yellow) solid 2px;
  border-bottom: var(--yellow) solid 2px;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: left;
  color: var(--yellow);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.9s ease-out;
  padding: 0 16px;
}

.list-wrapper {
  overflow: hidden;
  transition: height 0.9s ease-out;
}

.list-content.visible {
  max-height: 720px;
  padding: 16px;
}

/* Links inside the dropdown */
.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {
  background-color: #ddd;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.toggle-btn {
  border-radius: 4px;
  color: white;
  background-color: var(--bootstrap-dark);
  border: 2px solid black;
  font-family: 'Source Code Pro';
  font-size: 16px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 8px;
  min-width: 130px;
}

.toggle-btn.active {
  background-color: var(--bootstrap-dark) !important;
  color: var(--yellow) !important;
  border: 2px solid var(--yellow) !important;
  font-style: italic;
}

/* bucket app ---------------------------------------------------------*/

.bucket-app {
  display: flex;
  flex-direction: row;
  /* Change to row to align items horizontally */
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  background: white;
  text-align: left;
  margin: 0 auto;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.header {
  background: var(--bootstrap-dark);
}

/* thought form/message posting ---------------------------------------------------------*/

.thought-form {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.form-group-thought {
  margin-bottom: 20px;
}

.thought-label {
  font-weight: bold;
}

.form-control-thought {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.thought-card {
  background-color: #f8f9fa;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.thought-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.thought-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thought-author {
  font-weight: bold;
}

.thought-text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 0px;
}

.thought-divider {
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid #e1e1e1;
}

.thought-date {
  color: #666;
}

.thought-meta {
  font-size: 14px;
  color: #666;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.thought-meta span {
  margin-right: 10px;
}

.thought-meta .author {
  font-weight: bold;
}

.mt-2-thought {
  margin-top: 20px;
}

.center {
  display: block;
  margin: 0 auto;
}

/* ---- chapter banner rounded corners ----*/
.card-img-top {
  border-radius: 0.375rem;
  border: solid 1px var(--bootstrap-dark);
}

/* end---------------------------------------------------------------------*/

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

h1 {
  display: inline-block;
  font-size: 5em;
  text-shadow: .03em .03em 0 rgb(0, 255, 221);
}

h1:after {
  content: attr(data-shadow);
  position: absolute;
  top: .06em;
  left: .06em;
  z-index: -1;
  text-shadow: none;
  background-image:
    linear-gradient(45deg,
      transparent 45%,
      hsla(48, 20%, 90%, 1) 45%,
      hsla(48, 20%, 90%, 1) 55%,
      transparent 0);
  background-size: .05em .05em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shad-anim 15s linear infinite;
}

.m-0.p-0 {
  font-size: 2em;
  text-shadow: .05em .05em 0 rgb(0, 255, 221);
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-right: var(--yellow) ridge 8px;
  align-items: center;
  padding: 0;
}

footer {
  border-top: var(--yellow) ridge 8px;
  border-right: var(--yellow) ridge 8px;
  margin-top: auto;
  background: var(--bootstrap-dark);
  padding: 16px;
  width: 100%;
}

.bold-text-span {
  font-weight: bold;
}

/* span highlights ------------*/

.green-text-span {
  background-color: rgb(132, 253, 62);
}

.red-text-span {
  background-color: rgba(253, 119, 119, 0.938);
}

.blue-text-span {
  background-color: rgba(121, 164, 255, 0.938);
}

.cyan-text-span {
  background-color: rgba(142, 251, 255, 0.938);
}

.highlight {
  background: rgb(238, 255, 0);
}

.purple-bold {
  color: rgb(52, 50, 177);
  font-weight: bold;
  font-size: 1.0em;
  margin-left: 20px;
  font-style: italic;
}

.blue-bold {
  color: rgb(0, 79, 248);
  font-size: 1.0em;
  margin-left: 20px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.custom-table th {
  background-color: #f2f2f2;
}

.custom-table-center {
  width: 50%;
  border-collapse: collapse;
  margin: 20px auto;
  text-align: center;
}

.custom-table-center th,
.custom-table-center td {
  border: 1px solid #ddd;
  padding: 8px;
}

.custom-table-center th {
  background-color: #f2f2f2;
}

.code-left-black {
  margin-left: 20px;
  margin-right: 20px;
  text-indent: 20px;
  color: black !important;
}

/* footnotes ------------*/

.footnotes {
  margin-top: 2rem;
  border-top: 1px solid #ccc;
  padding-top: 1rem;
  font-size: 0.9em;
  color: #555;
}

.footnotes ol {
  padding-left: 1.5em;
}

.footnotes li {
  margin-bottom: 0.5em;
}

/* chiastic structure divs */

.chiastic,
.chiastic>div,
.chiastic>div>div,
.chiastic>div>div>div,
.chiastic>div>div>div>div,
.chiastic>div>div>div>div>div,
.chiastic>div>div>div>div>div>div,
.chiastic>div>div>div>div>div>div>div,
.chiastic>div>div>div>div>div>div>div>div,
.chiastic>div>div>div>div>div>div>div>div>div,
.chiastic>div>div>div>div>div>div>div>div>div>div,
.chiastic>div>div>div>div>div>div>div>div>div>div>div,
.chiastic>div>div>div>div>div>div>div>div>div>div>div>div,
.chiastic>div>div>div>div>div>div>div>div>div>div>div>div>div,
.chiastic>div>div>div>div>div>div>div>div>div>div>div>div>div>div {
  margin-left: 20px;
}

.level-1 {
  margin-left: 0;
}

.level-2 {
  margin-left: 20px;
}

.level-3 {
  margin-left: 40px;
}

.level-4 {
  margin-left: 60px;
}

.level-5 {
  margin-left: 80px;
}

/* ------ -------------------- ----------- */

.indent-text-1 {
  margin: 25px;
}

.bucket-app {
  border-top: var(--yellow) ridge 8px;
}

.sidebar {
  border-right: var(--yellow) ridge 8px;
}

.nav-tabs-subjects {
  justify-content: right;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 20px;
  /* border: red solid 2px; */
}

.nav-link {
  background-color: var(--bootstrap-dark) !important;
  color: white !important;
  border: 2px solid black !important;
  font-family: 'Source Code Pro';
}

.nav-link.active {
  background-color: var(--bootstrap-dark) !important;
  color: var(--yellow) !important;
  border: 2px solid var(--yellow) !important;
  font-style: italic;
}

.nav-item {
  min-width: 130px;
}

.sidebar {
  width: 250px;
  background-color: var(--bootstrap-dark);
  color: white;
  padding-top: 20px;
}

h1 {
  margin: 32px 0;
  color: var(--blue);
  font-size: 50px;
  font-family: 'Josefin Sans', 'Rubik', 'Arial Narrow Bold', sans-serif
}

h3 {
  margin: auto;
  color: var(--cyan);
  font-size: 20px;
}

.separator-line {
  width: 100%;
  height: 1px;
  background-color: #000000;
  margin: 20px 0;
}


.index-card {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.index-list {
  list-style-type: none;
  /* Remove bullet points */
  padding: 0;
  line-height: 1.8;
  margin-top: 0px;
  margin-bottom: 0px;
}

.index-list li {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 6px 0;
  margin: 4px 0;
  text-align: left;
  font-size: 16px;
  font-family: 'Georgia', serif;
  /* Book-like font for the list */
  color: black !important;
  /* Set the text color to black */
}

.index-list li:last-child {
  border-bottom: none;
}

/* About ================================================================== */

.profile-picture {
  margin: 0 auto;
  display: block;
  max-width: 400px;
  height: auto;
  border-radius: 5%;
  border: 1px solid black;
}

.pixar-box {
  background-color: rgb(228, 255, 255) !important;
  border: 2px rgb(155, 218, 218) solid;
}

.red-text-x {
  color: var(--light-red);
}

.blue-text-x {
  color: var(--blue);
}

.blue-text-xx {
  color: blue;
}

.blue-text-xy {
  color: blue;
  background: rgb(238, 255, 0);
}

.red-text-xy {
  color: var(--light-red);
  background: rgb(238, 255, 0);
}

.green-text-x {
  color: rgb(38, 207, 38);
}

p {
  color: #000000;
}

/* Footer -------------------------------------------------------------- */

.footer-text {
  color: white;
}

.red-text {
  color: white;
  font-family: 'Source Code Pro';
}

.cyan-text {
  color: var(--blue);
  font-family: 'Source Code Pro';
}

.volt-text {
  color: var(--volt);
  font-family: 'Source Code Pro';
}

.volt-text:hover {
  color: var(--light-red);
  font-family: 'Source Code Pro';
  font-style: italic;
}

a {
  color: rgb(0, 183, 255);
  font-family: 'Source Code Pro';
}

a:hover {
  color: var(--yellow);
  font-family: 'Source Code Pro';
}

a.icon:hover {
  color: white;
}

.p-3.mb-3.blue.rounded {
  background-color: var(--bootstrap-dark) !important;
}

.custom-light-box {
  background-color: #fdfcce !important;
  color: #000;
  border: 2px var(--yellow) solid;
}

.remove-bullets {
  list-style-type: none !important;
  padding: 0;
}

.font {
  color: var(--yellow);
}

.mb-0-1 {
  color: white;
}

/* content ------------------------------------------------*/

.jumbotron {
  padding: 2rem;
  margin: 0 auto;
}

.code-left {
  margin-left: 20px;
  margin-right: 20px;
  text-indent: 20px;
}

code {
  font-size: .875em;
  color: blue;
  word-wrap: break-word;
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity)) !important;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon,
.edit-icon {
  margin-right: 5px;
  color: #fff;
}

/* =============================== Label on project img hover*/

.image-container {
  position: relative;
}

label {
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.2em;
  margin-top: 10px;
  color: var(--cyan);
  font-family: 'Source Code Pro';
}

.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: rgb(255, 255, 255) solid 2px;
  padding: 10px;
  background-color: var(--bootstrap-dark);
}

.label p {
  color: var(--cyan);
  font-size: 24px;
}

.image-container:hover .label {
  display: block;
}

/* ================== Contact Form ======================== */

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form {
  width: 40%;
  margin: 0 auto;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container button {
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: white;
  color: var(--blue);
}

.icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.icon-container p {
  margin-left: 15px;
}

.confirmation-message {
  background-color: var(--blue);
  border: 3px solid #ffffff;
  border-radius: 4px;
  width: 25%;
  height: 105px;
  margin: 0 auto;
  padding: 10px;
}

.icon {
  color: var(--blue);
  font-size: 1.3em;
  margin-right: 10px;
}

.nav.nav-tabs {
  list-style: decimal-leading-zero;
}

.card {
  padding: 2em;
}

/* ================ tooltip ========================== */
.footnote-marker {
  font-weight: bold;
  text-decoration: underline dotted;
}

.footnote-ref {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-box,
.footnote-tooltip {
  position: absolute;
  width: 250px;
  background-color: #333 !important;
  color: white !important;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  z-index: 1000;
  transition: opacity 0.3s;
  font-size: 16px!important;
}

.footnote-tooltip {
  transform: translateX(1%);
  margin-left: 0.75rem;
}


.tooltip-container {
  position: relative;
  cursor: pointer;
}

.tooltip-box {
  visibility: hidden;
  opacity: 0;
  top: 50%;
  left: 105%;
  transform: translateY(-50%);
}

.tooltip-container:hover .tooltip-box {
  visibility: visible;
  opacity: 1;
}

/* ================ footnote tooltip ========================== */

.footnote-ref {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.footnote-marker {
  color: #007bff;
  font-size: 0.85em;
}

.footnote-tooltip {
  position: absolute;
  top: -2.5em;
  left: 0;
  background: white;
  color: black;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.8em;
  white-space: pre-wrap;
  max-width: 250px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* ========================= MEDIA QUERIES ======================== */

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 600px) {
  .icon-container {
    flex-basis: 50%;
  }

  .jumbo-bg-dark-text {
    font-size: 20px;
  }
}

/* Small screens (mobile devices) */
@media screen and (max-width: 768px) {

  h1 {
    font-size: 32px;
  }

  .nav-links li {
    margin: 0 10px;
  }

  .nav-link {
    font-size: 14px;
  }

  h1 {
    margin: 16px 0;
    font-size: 36px;
  }

  h3 {
    font-size: 16px;
  }

  .separator {
    margin-bottom: 20px;
  }

  .profile-picture {
    width: 150px;
    height: 150px;
  }

  p {
    font-size: 14px;
  }

  .a-title {
    margin: 10px;
  }

  .icons {
    font-size: 20px;
  }

  .label {
    padding: 5px;
  }

  .label p {
    font-size: 14px;
  }

  form {
    width: 90%;
    margin: 0 auto;
  }

  .form-container button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .confirmation-message {
    padding: 8px;
    margin-top: 5px;
    font-size: 14px;
  }
}

/* Medium screens (tablets) */
@media screen and (max-width: 1023px) and (min-width: 768px) {

  .mx-3 {
    margin: 0 10px;
  }

  form {
    width: 80%;
  }

  .form-container button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

/* Large screens (desktops and laptops) */
@media screen and (min-width: 1024px) {

  .icon-container {
    justify-content: center;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .thought-card {
    width: calc(100% - 20px);
    /* Full width on smaller screens */
  }

  .thought-header {
    flex-direction: column;
    /* Stack header items vertically */
    align-items: flex-start;
    /* Align items to the start */
  }

  .thought-date {
    margin-left: 0;
    /* Remove margin between author and date */
    margin-top: 5px;
    /* Add margin top for date */
  }

  #wrapper i {
    font-size: 0.9rem;
  }

}